 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       }
       a{
        text-decoration: none;
        color: inherit;
        }
    
         .home{
        display: inline-block;
        transition: transform 0.3s ease;
        color: #504E52;
        font-size: 25px;
        margin-right: 50px;
        }
        .portfolio{
        display: inline-block;
        transition: transform 0.3s ease;
        color: #504E52;
        font-size: 23px;
         }
         .home:hover,.portfolio:hover{
        transform: scale(1.2);
        color: darkred;
        }
        .back{
            display: inline-block;
            font-size: 25px;
             transition: transform 0.3s ease;
             margin-left: 40px;
             margin-top: 75px;
             padding-bottom: 50px ;
        }
        .back:hover{
            transform: scale(1.2);
            color: darkred;
        }
        .linkpic{

            margin-right: 5px;
            
        }
        body{
        background: #ffffff;
        background: linear-gradient(123deg, rgba(255, 255, 255, 1) 0%, rgba(255, 148, 148, 1) 36%, rgba(255, 56, 56, 1) 87%);
        background-repeat: no-repeat
        }


        #paolo{
        font-size:65px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 1px;
        margin-right: 25px;
         }
        #paolo::first-letter{
        padding-left: 65px;
        font-size: 150px;
        color: darkred;
        }
         #tanglao{
        padding-left: 500px;
        font-size: 100px;
         }

        html{
            scroll-behavior: smooth;
        }
        #link{
            display: flex;
            align-items: center;
            margin-bottom: 5vh;
            padding: 28px;
            padding-bottom: 50px;
            
        }
        #text{
            display: inline-block;
        }
        #butterfly:hover{
            transform: scale(2);
            transition: 1s;
        }
         #paragraph{
            display: inline-block;
            line-height: 20px ;
            margin-right: 1px;
            padding-left: 65px;
            padding-top: 10px;
            margin-bottom: 250px;
        }
        #target{
            visibility: hidden;
            margin-top: 300px;
            background-color: whitesmoke;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid black;
            padding-bottom: 220px;
        }
        #target:target{
            visibility: visible;
        }
        
        .sidebar {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 40px;
        background: black;
        transition: 0.3s;

        }

        .sidebar:hover {
          background: linear-gradient(180deg, rgb(26, 22, 22), #090808);
          width: 500px;
        }

        .sidebar a,#sidepic a{
        display: block;
        color: white;

        text-decoration: none;
        opacity: 0;
        transition: opacity 0.3s;
        }

        .sidebar:hover a,#sidepic{
         opacity: 1;
        }

        .sidebar a:hover {
         transform: scale(1.2);
         transition: 0.3s;
        }
        #sidepic{
            padding-left: 10px;
            padding-top: 10px;
            padding-right: 10px;
            border-radius: 100px;
            width: 485px;
            

        }
        #logo{
            font-size: 20px;
            margin-right: 15px;
           display: flex;
           align-items: center;
           font-family: Arial, Helvetica, sans-serif;
        }
        iframe{
            width: 97%;
            border: 2px solid black;
            margin-top: 100px;
            height: 750px;
            margin-left: 8px;
            
        }
        .info{
            display: flex;
            padding-top: 15px;
            padding-left: 175px;
        }
        .linkpic:hover{
            transform: scale(1.2);
            transition: 1s;
        }  
        #pangalan{
            width: 400px;
            border-radius: 1000px;
            margin-top: 50px;
            border: 5px solid darkred;
        }
        #oloap{
            display: flex;
            align-items: center;
}
        #pre{
            margin-left: 50px;
            font-size: 30px;
            font-family: "Geologica", sans-serif;     
            margin-top: 100px;
        }  
        section{
            border: 5px solid black;
            background-image: url(six.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            padding-bottom: 100px;
            border-radius: 10px;
            width: 1480px;
            
        }

        #target2{
            visibility: hidden;
            width: 100%;
            border: 3px solid black;
            background-image: url(https://i.pinimg.com/736x/81/cc/46/81cc46bb124b6617003dc2465cc42a43.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        #target2:target{
            visibility: visible;
        }
        iframe{
            border: 5px solid black;
            background-color: white;
            width: 96.4%;
        }
        #services{
            margin-right: 70px;
            font-size: 100px;
        }
        .lengk{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        font-size: 30px;
        }
        .lengk a{
        Border: 3px solid black;
        padding: 10px 50px 10px 50px;
        box-shadow: 0 0 15px;
        border-radius: 25px;
        font-family: Montserrat;
        cursor: pointer;
        transition: transform 0.2s;
        background:radial-gradient(red,darkred);
        text-decoration: none;
        color: black;
        }
        .lengk a:hover{
        transform: scale(1.2);
        }
        .lengk a:hover{
        background: linear-gradient(red)
        }
    